* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Container styles*/
.container {
    position: relative;
    margin-top: 30px;
    width: 320px;
    height: 480px;
    background: peachpuff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 8%;
}
