* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Container styles*/
.container {
    position: relative;
    margin-top: 30px;
    width: 320px;
    height: 480px;
    background: peachpuff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 8%;
}
/*Body styles*/
.body {
    position: relative;
    width: 100%;
    height: 100%;
}
.head {
    position: relative;
    left: 55px;
    width: 210px;
    height: 210px;
    background-color: whitesmoke;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 30px;
    z-index: 2;
    top: 53px;
    clip-path: polygon(30.14% 39.81%, 85.67% 46.00%, 96.19% 96.67%, 26px 96.09%);
}
.head-force-left {
    position: absolute;
    width: 170px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 13px;
    left: 77px;
    top: 229px;
    transform: rotate(181deg);
    z-index: 2;
}
.head-force-right {
    position: absolute;
    width: 128px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 13px;
    left: 44px;
    top: 174px;
    transform: rotate(107deg);
    z-index: 2;
}
.head-force-bottom {
    position: absolute;
    width: 109px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 13px;
    left: 181px;
    top: 191px;
    transform: rotate(258deg);
    z-index: 2;
}
.head-force-up {
    position: absolute;
    width: 32px;
    height: 13px;
    background-color: whitesmoke;
    border-radius: 5px;
    left: 222px;
    top: 238.00005px;
    transform: rotate(263deg);
    z-index: 2;
}